.badge-container {
  .p-badge-danger {
    background-color: var(--hds-badge-danger-background) !important;
  }
  .p-badge {
    font-size: var(--hds-badge-small-font-size);
    font-weight: var(--hds-badge-font-size);
    min-width: var(--hds-badge-small-min-width);
    height: var(--hds-badge-small-height);
    line-height: var(--hds-badge-small-line-height);
    font-family: var(--default-font);
    &[class*='p-badge-lg'] {
      font-size: var(--hds-badge-small-font-size);
      font-weight: var(--hds-badge-font-size);
      min-width: var(--hds-badge-large-min-width);
      height: var(--hds-badge-large-height);
      line-height: var(--hds-badge-large-line-height);
    }

    &[class*='p-badge-xl'] {
      font-size: var(--hds-badge-xlarge-font-size);
      font-weight: var(--hds-badge-font-size);
      min-width: var(--hds-badge-xlarge-min-width);
      height: var(--hds-badge-xlarge-height);
      line-height: var(--hds-badge-xlarge-line-height);
    }
  }
}
